.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: turquoise;
}

a {
  text-decoration: none;
  border: 2px solid black;
  margin: 1px 2px 1px 2px;
}

a:hover {
  cursor: pointer;
}

.quantity {
  margin: auto;
  width: 50%;
  position: static;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.quantity__minus,
.quantity__plus {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  background-color: blue;
  color: yellow;
  font-weight: bolder;
}

input {
  height: 1.7rem;
  text-align: center;
  text-shadow: green;
  text-decoration: lightgray;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
